<a href="https://colab.research.google.com/github/ttped/DS-Unit-1-Sprint-2-Statistics/blob/master/module2/Trevor_Pedersen_LS_DS_122_Chi2_Tests_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment - Practice Chi^2 Tests

Use the following dataset relating to math scores of students in two different Portugese schools:

<https://archive.ics.uci.edu/ml/datasets/Student+Performance>

### 1) Load the dataset specifically relating to math scores as a new dataframe.

There are two datasets in the `student.zip` file, make sure you use `student-mat.csv`.

In [2]:
# YOUR WORK HERE
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency

In [4]:
#download zip file
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00320/student.zip

--2020-08-12 14:26:07--  https://archive.ics.uci.edu/ml/machine-learning-databases/00320/student.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 20478 (20K) [application/x-httpd-php]
Saving to: ‘student.zip’

student.zip         100%[===================>]  20.00K  --.-KB/s    in 0.1s

2020-08-12 14:26:08 (141 KB/s) - ‘student.zip’ saved [20478/20478]

In [5]:
#unzip contents
!unzip /content/student.zip

Archive:  /content/student.zip
  inflating: student-mat.csv
  inflating: student-por.csv
  inflating: student-merge.R
  inflating: student.txt

In [6]:
#load in csv data
df = pd.read_csv('/content/student-mat.csv')
df

    school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3
0    GP;"F";18;"U";"GT3";"A";4;4;"at_home";"teacher...
1    GP;"F";17;"U";"GT3";"T";1;1;"at_home";"other";...
2    GP;"F";15;"U";"LE3";"T";1;1;"at_home";"other";...
3    GP;"F";15;"U";"GT3";"T";4;2;"health";"services...
4    GP;"F";16;"U";"GT3";"T";3;3;"other";"other";"h...
..                                                 ...
390  MS;"M";20;"U";"LE3";"A";2;2;"services";"servic...
391  MS;"M";17;"U";"LE3";"T";3;1;"services";"servic...
392  MS;"M";21;"R";"GT3";"T";1;1;"other";"other";"c...
393  MS;"M";18;"R";"LE3";"T";3;2;"services";"other"...
394  MS;"M";19;"U";"LE3";"T";1;1;"other";"at_home";...

[395 rows x 1 columns]

In [7]:
#above data looks very wrong, so lets fix that
#if we look at column headers we will notice that they are delimited with a ';' instead of a ','
#The data can be fixed by simply specifying the proper delimiter
df = df = pd.read_csv('/content/student-mat.csv', delimiter=';')
df.head(6)

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1     GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2     GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3     GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4     GP   F   16       U     GT3       T  ...     2       5        4   6  10  10
5     GP   M   16       U     LE3       T  ...     2       5       10  15  15  15

[6 rows x 33 columns]

In [ ]:
#The above looks good!

### 2) Use Chi^2 tests and `stats.chi2_contingency()` to identify:
 - Two pairs of variables that are dependent (are associated with one another).
 - Two pairs of variables that are independent (have no significant relationship).

Does it make intuitive sense why the variables in these pairs might or might not show a relationship to one another?

In [126]:
#Stretch goal: "Refactor your code so it is elegant, readable, and holds reusable code in functions."

#Just pass in two columns you want to compare a chi test on
def chi2_calculate_and_print(table):
  stat, p, dof, expected = chi2_contingency(table, correction=False)
  #print('table:', expected)
  print('The degrees of freedom: ', dof)
  print(f'The chi square statistics is: {stat:.3f}')
  print(f'The p value is: {p:.6f}')
  pass

In [127]:
# YOUR WORK HERE
#Looking for two pairs of dependent variables
'''
1) Null hypothesis: 
    Health and gender are independent

2) Alternative hypothesis:
    Health and gender are not independent

3) Confidence level: 95%
'''

#Is this wrong?
#chi2_calculate_and_print([df['health'], df['failures']])

temp = pd.crosstab(df['health'], df['sex'])
chi2_calculate_and_print(temp)

The degrees of freedom:  4
The chi square statistics is: 9.821
The p value is: 0.043560

In [ ]:
'''
4) Conclusion:
  Based on a p value of 0.043560, we reject the null hypothesis that health and gender are independent.
'''

In [118]:
#Looking for two pairs of independent variables

'''
1) Null hypothesis: 
    Study time and failures are independent

2) Alternative hypothesis:
    Study time and failures are not independent

3) Confidence level: 95%
'''

#chi2_calculate_and_print([df['studytime'], df['age']])

temp = pd.crosstab(df['traveltime'], df['sex'])
chi2_calculate_and_print(temp)

The degrees of freedom:  3
The chi square statistics is: 2.735
The p value is: 0.434343

In [ ]:
'''
4) Conclusion:
  Based on a p value of 1, we fail to reject the null hypothesis that health and failures are independent
'''

### 3) Use NumPy to perform your own chi^2 test "from scratch" 

Pick any of the chi^2 tests that you ran in part 2 and try them on your own. You should get the same results that Scipy got for all four values returned from `chi2_contingency()`

In [31]:
# YOUR WORK HERE
temp = pd.crosstab(df['traveltime'], df['sex'])
print(temp)
#convert dataframe to numpy
col1 = temp['F'].to_numpy()
col2 = temp['M'].to_numpy()

table = np.array([col1, col2])

total_sum = table.sum()
column_sums = table.sum(axis=1)
row_sums = []
expected_table = np.zeros(table.shape)

for row in range(table.shape[1]):
  row_sum = 0
  for col in range(table.shape[0]):
    row_sum = row_sum + table[col][row]
    pass
  row_sums.append(row_sum)
  pass

for col in range(table.shape[0]):
  for row in range(table.shape[1]):
    expected = (row_sums[row] * column_sums[col]) / total_sum
    expected_table[col][row] = expected
    pass
  pass

chi_squared_table = np.zeros(table.shape)

for col in range(table.shape[0]):
  for row in range(table.shape[1]):
    observed = table[col][row]
    expected = expected_table[col][row]

    chi_val = ((observed-expected)**2)/expected
    chi_squared_table[col][row] = chi_val
    pass
  pass

print("Degrees of freedom is:", ((table.shape[0]-1) * (table.shape[1]-1)))
print("Chi squared val is:", round(chi_squared_table.sum(),3))
#table = np.array([col1, col2])
#table

sex           F    M
traveltime
1           139  118
2            55   52
3            12   11
4             2    6
Degrees of freedom is: 3
Chi squared val is: 2.735

## Stretch goals:

### 1. Refactor your code so it is elegant, readable, and holds reusable code in functions.

In [68]:
# YOUR WORK HERE



### 2. Check For Understanding - Study and write your own explanations/definitions for these topics:

- What is a sample "estimate" in statistics?

Answer: An estimate we generate from taking a sample from the population.

- What are hypothesis test? How are they useful?

Answer: It is a way of testing if a hypothesis is valid or meaningful.

- What is a "null hypothesis?"

Answer: A hypothesis stating there is no relationship between two values

- What is a p-value and what does it represent?

Answer: Evidence against the null hypothesis, so a p-value of .25 would mean you have a 25% chance of being wrong. I.E. 25% chance the results happened by random coincidence. 

- What does it mean for something to be "statistically significant?"

Answer: It means it is very unlikely for something to have happened by chance alone.

- What is a test statistic and how does it relate to a p-value?

Answer: A number used to prove or disprove a hypothesis test. A p-value is a form of a test statistic.

- What are "degrees of freedom" and how are they calculated in a 1-sample, 2-sample, and chi^2 test for independence?

Answer: The number of values in the final calculation that are free to to vary. In chi^2 tests they are calculated by taking the number of rows -1 and number of columns -1 and multiplying them together.

## Resources

- [Interactive visualize the Chi-Squared test](https://homepage.divms.uiowa.edu/~mbognar/applets/chisq.html)
- [Calculation of Chi-Squared test statistic](https://en.wikipedia.org/wiki/Pearson%27s_chi-squared_test)
- [Visualization of a confidence interval generated by R code](https://commons.wikimedia.org/wiki/File:Confidence-interval.svg)
- [Expected value of a squared standard normal](https://math.stackexchange.com/questions/264061/expected-value-calculation-for-squared-normal-distribution) (it's 1 - which is why the expected value of a Chi-Squared with $n$ degrees of freedom is $n$, as it's the sum of $n$ squared standard normals)